<template name="loginModal">
	<!-- LOGIN MODAL -->
	<div id="loginModal" class="modal hide fade">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Login</h3>
		</div>
		<div class="modal-body">
			<form id="formLoginUser">
				<center>
					<input id="usernameLogin" type="text" placeholder="Username"><br/>
					<input id="passwordLogin" type="password" placeholder="Password"><br/>
					<div id="loginErroMsg"></div>
				</center>
			</form>
		</div>
		<div class="modal-footer">
			<center>
				<button id="chatnowLoginBtn" class="btn btn-success">Chat Now!</button>
			</center>
		</div>
	</div>
</template>