<template name="room">

	<div class="well">

		<div>
			<div id="roomsHeader"><b id="roomtitle">{{user.Room.inRoomTitle}}</b>
				<small>
					created by <span id="roomcreator">{{user.Room.inRoomCreator}}</span>
				</small>
			</div>
			<button id="exitRoom" class="btn btn-danger" roomId="{{user.Room.inRoomID}}">Exit Room</button>

		</div>

		<div>
			<div id="roomsChat"><b>Chatting With:  <i>{{ peopleInRoom.peopleUsername }}</i></b></div>

			<div id="msgLog">
				{{#each messageCount}}
					<pre><b>{{username}} ({{time}})</b>:   {{ message }}</pre>
				{{/each}}
			</div>

			<div id="sendDiv">
				<center>
					<textarea class="field span6" rows="2" id="messageTextArea"></textarea>
					<button id="sendMessage" class="btn btn-primary">Send</button>
				</center>
			</div>

		</div>

		<div>
			Invite someone to this chat room:
			<input type="text" id="invite_user" />
			<button id="invite" class="btn">Invite</button>
		</div>
	</div>


</template>
